extends layout

block content
  .container
    .row
      .col-md-6.col-lg-6.col-sm-12
        p
        table.table
          tr
            td
              a(href="/map1") Poblacion por Municipio Urbana y Rural
          tr
            td
              a(href="/map1") Poblacion por Municipio Urbana y Rural
          tr
            td
              a(href="/map1") Poblacion por Municipio Urbana y Rural
block footer
    


