doctype html
html
  head
    meta(charset="utf-8")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src='/javascripts/d3.v3.min.js')
    script(src='/javascripts/jquery.min.js')
    script(src="/javascripts/bootstrap.min.js")  
  body
    block content
    script(src="/javascripts/d3.v3.min.js")  
    script(src="/javascripts/d3-queue.min.js")
    script(src="/javascripts/topojson.min.js")
    script(src="/javascripts/map.js")  
  

