doctype html
html
  head
    meta(charset="utf-8")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src='/javascripts/jquery.min.js')
    script(src="/javascripts/bootstrap.min.js")  
  body
    nav.navbar-default
      .container-fluid
        .navbar-header
          a.navbar-brand(href="/") 
            span.glyphicon.glyphicon-globe(aria-hidden="true") &nbsp;Nicaragua
          <!--
          ul(class="nav navbar-nav")
            li.dropdown
              a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Mapa 
                span.caret
                ul.dropdown-menu
                 a(href="/map1") Poblacion por Municipio Urbana y Rural -->
    main
      block content
    script(src="/javascripts/d3.v3.min.js")  
    script(src="/javascripts/d3-queue.min.js")
    script(src="/javascripts/topojson.min.js")
    block footer  

