extends layout

block content
  .container-fluid
    .row
      .col-md-7
        .h3 Nicaragua. Poblacion Urbana y Rural
      .col-md-5
        form.form-inline
          .form-group.h4
            label.control-label(for="nValue") Año &nbsp; 
            select.form-control(name="nValue" id="nValue")
              option(value="2015") 2015
              option(value="2005") 2005
              option(value="1995") 1995
              option(value="1971") 1971
              option(value="1963") 1963
    .row
      #map-container
block footer
  script(src="/javascripts/map.js")