body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  width: 100%
a
  color: #00B7FF
header
  padding-left: 15px

#map-container
  padding-top: 15px

path
  fill: none
  stroke: #000
  stroke-linejoin: round
  stroke-linecap: round

.land 
  fill: #F7f7f7
  stroke: #ccc


.border 
  fill: none
  stroke: #bbb
  stroke-linejoin: round
  stroke-linecap: round


circle.gain
  fill: #67a9cf
  stroke: #fff

circle.loss
  fill: #ef8a62
  stroke: #fff


circle:hover
  stroke: black
  stroke-width: 2


.bubble 
  fill: steelblue
  fill-opacity: .45
  stroke: blue
  stroke-width: .5px


.arc
  fill: red
  opacity: .4

.legend circle 
  fill: none
  stroke: #ccc


.legend text 
  fill: #777
  font: 10px sans-serif
  text-anchor: middle
