#probe
  position: absolute
  background-color: white
  border: 1px solid #ccc
  padding: 10px
  border-radius: 5px
  display: none
  font-size: 12px
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25)
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25)
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25)


#probe strong
  font-size: 16px


#probe span
  color: #999


#date, #play, #slider-container
  display: inline-block
  vertical-align: middle
  margin-top: 20px


#date
  border-left: 5px solid #ccc
  padding: 3px 0 3px 10px
  margin-left: 60px
  color: #333

#date p
  margin: 0


#date p:first-child
  color: #999
  font-size: 11px
  line-height: 13px

#date p#month
  font-size: 30px
  line-height: 30px

#date p#month span
  float: left
  width: 2.55em